/* ----- Global ----- */

/* ----- Jumbotron ----- */

/* .jumbotron {

} */

/* #website-title {
    font-family: serif;
} */

/* ----- Main Content ----- */

/* main {
    background-color: #43404e;
    background-image: linear-gradient(345deg, #43404e 0%, #9FACE6 100%);
} */

/* ----- Today's Forecast ----- */

#todayUVIndex {
    border-radius: 0.3em;
    border: rgba(0, 0, 0, 0.75) solid 1px;
    padding: .2em .5em;
}

/* ----- 5-Day Forecast ----- */
.five-day-card {
    width: 12em;
}

/* ----- Themes ----- */

.serif {
    font-family: serif;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gradient {
    background-color: #0093E9;
    background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%);
}
