/* ----- Global ----- */


/* ----- Jumbotron ----- */

/* .jumbotron {

} */

/* ----- Main Content ----- */

/* main .container {

} */

/* ----- Today's Forecast ----- */

#todayUVIndex {
    border-radius: 0.3em;
    border: rgba(0, 0, 0, 0.75) solid 1px;
    padding: .2em .5em;
}

/* ----- 5-Day Forecast ----- */
.five-day-card {
    width: 12em;
}

.gradient {
    background-color: #0093E9;
    background-image: linear-gradient(45deg, #0093E9 0%, #80D0C7 100%);
}
